body {
	width: 700px;
}

table, th, td {
	/*border: 1px solid black !important;*/
}

table {
	width: 100%;
}

tr.blank {
	height: 15px;
}

th.left {
	text-align: left;
}

td.right {
	text-align: right;
}

#navbar {
	font-family: sans-serif;
	background-color: #EEEECE;
	border: 1px solid #72808F;
}

#navbar th a {
	color: #46463F;
	text-decoration: none;
}

#navbar th.selected, #navbar th:hover {
	background-color: #126797;
}

#navbar th.selected a, #navbar th a:hover {
	color: #FDCB6E;
}

#titlebar {
	margin-bottom: 15px;
	border: 1px solid #72808F;
	border-top: none;
	background-color: #126797;
	color: white;
}

#sidepanel {
	width: 250px;
	margin-right: 15px;
	float: left;
	border: 1px solid #72808F;
}

#sidepanel th {
	padding-left: 10px;
	text-align: left;
	background-color: #126797;
	color: white;
}

#sidepanel td:first-child {
	padding-left: 10px;
}

#mainpanel {
	width: 435px;
	border: none;
}

#mainpanel th {
	text-align: left;
	color: #CB6E35;
}

#mainpanel td:first-child {
	width: 110px;
}

#footer {
	margin-top: 15px;
	border: none;
}